<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Contatos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>

<body>
  <div class="container" id="app">
    <div class="row mt-5">
      <div class="col-12 border-bottom mb-5">
        <h2>{{ name }}</h2>
      </div>

      <div class="col-4">
        <form action="">
          <div class="form-group mr-1">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Nome Completo..." v-model="contact.name" />
          </div>

          <div class="form-group mr-1">
            <label>E-mail</label>
            <input type="email" class="form-control" placeholder="Seu melhor email..." v-model="contact.email" />
          </div>

          <div class="form-group mr-1">
            <label>Contato</label>
            <input type="phone" class="form-control" placeholder="Telefone/Celular" v-model="contact.phone" />
          </div>

          <div class="form-group ml-1">
            <button v-if="isEditing" @click.prevent="updateContact(contact)" class="btn btn-lg btn-rounded btn-info">Atualizar Contato</button>
            <button v-else @click.prevent="saveContact(contact)" class="btn btn-lg btn-rounded btn-success">Criar Contato</button>
          </div>
        </form>
      </div>

      <div class="col-8 border-left">
        <div class="contact">

          <div class="col-12 mb-2" v-for="contact in contacts">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ contact.name }}</h5>

                <p class="card-text">{{ contact.email }}, {{ contact.phone }}</p>

                <button class="btn btn-sm btn-primary" @click.prevent="editContact(contact)">EDITAR</button>
                <button class="btn btn-sm btn-danger" @click.prevent="removeContact(contact.id)">DELETAR</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data() {
        return {
          name: "Contatos App",
          contacts: [],
          contact: {
            id: "",
            name: "",
            email: "",
            phone: ""
          },
          isEditing: false
        }
      },
      created () {
        this.getSavedContacts()
      },
      methods: {
        clearForm () {
          this.contact = {
            name: "",
            email: "",
            phone: ""
          }
        },
        getSavedContacts () {
          this.contacts = JSON.parse(localStorage.getItem('contacts'))
        },
        saveContact (contact) {
          let contacts = localStorage.getItem('contacts')
          contact.id = new Date().getTime()

          if (contacts) {
            contacts = JSON.parse(contacts)
            contacts.push(contact)
          } else {
            contacts = [this.contact]
          }

          this.contacts = contacts
          localStorage.setItem('contacts', JSON.stringify(contacts))
          this.clearForm()
        },
        removeContact (contactId) {
          let contacts = localStorage.getItem('contacts')

          if (!contacts) return

          contacts = JSON.parse(contacts)

          contacts = contacts.filter((contact) => {
            return contact.id != contactId
          })

          this.contacts = contacts
          localStorage.setItem('contacts', JSON.stringify(contacts))
        },
        editContact (contact) {
          this.contact = contact
          this.isEditing = true
        },
        updateContact (contact) {
          let contacts = this.contacts.map(cnt => {
            if (cnt.id == contact.id) {
              return contact
            }
            return cnt
          })

          this.contacts = contacts
          this.isEditing = false

          localStorage.setItem('contacts', JSON.stringify(contacts))
          this.clearForm()
        },
      }
    })
  </script>
</body>

</html>